@charset "utf-8";
*{
    margin:  0px;
    padding: opx;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:dodgerblue;
}
header{
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    background-color:rgb(14, 75, 136) ;
}
header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05))
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: var(--fonte-padrao);
    font-size: 3em;
    
    }
    header > p{
        color: white;
        font-size: 1.2em;
        max-width: 500px;
        padding-right: 10px;
        padding-left: 10px;
        margin: auto;
        margin-bottom: 20px;
    }
    main p{
        margin: 15px 0px;
        text-align: justify;
        text-indent: 30px;
        line-height: 2em;
        font-size: 1em;
    }
    main strong{
       
        font-weight: bold;
        
        padding: 2px 6px;
    }
    main a{
        text-decoration: none;
        font-weight: bold;
       
        background-color: var(--cor1);
        padding: 2px 6px;
    }
    main a:hover{
        text-decoration: underline;
        
        
        }
        header > p{
            color: white;
            font-size: 1.2em;
            max-width: 500px;
            padding-right: 10px;
            padding-left: 10px;
            margin: auto;
            margin-bottom: 20px;
        }
        main{
            min-width: 300px;
            max-width: 1000px;
            background-color: white;
            margin: auto;
            padding: 20px;
            margin: 30px;
            border-bottom-left-radius: 10px ;
            border-bottom-right-radius: 10px;
            
        }
        main h1{
            color: var(--cor05);
            font-family: var(--font-android);
        }
        main img{
            width: 100%;
        }