@charset  "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}
.vav-bar{
    text-align: center;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
.logo{
    display: block;
   text-align: center;
}
li{
    text-align: center;
    list-style: none;
    margin: 10px;
  
}
.logo h1{
    color: #fff;

}
.nav-link{
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
}
.login-button button{
    border: none;
    background-color: #0187a7;
    padding: 10px 15px;
    border-radius: 5px;

}
.login-button button a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
}
.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    display: none;

}
@media screen and (max-width: 730px) {
    .nav-bar{
        1.5rem 4rem;
    }
    .nav-item{
        display: none;
}
.login-button{
    display: none;
}
.mobile-menu-icon{
    display: block;
}


}




